
<header>
    <div class="logo_input">
      <h1>Aire Libre</h1>
      
      <input type="text" class="buscador"><i class="fa-solid fa-magnifying-glass"> </i>
    </div>
    <h3>Vive tu propia Aventura!!!</h3>
<div class="menuNav">
  <div class="menuNav1">
    <nav class="nav1">
      <ul>
        <li><a href=""></a>Home</li>
        <li><a href=""></a>Deportes</li>
        <li><a href=""></a>Aire Libre</li>
      </ul>
    </nav>
    </div>
    <div class="menuNav2">
    <nav class="nav2">
      <ul>
        <li><a href=""></a>Login</li>
        <li><a href=""></a>Registro</li>
        <li><a href=""></a>Compras</li>
      </ul>
    </nav>
    </div>
    <div class="burger-menu"> 
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
  </header>
