<%- include('../partials/head',{title:"Administrador"}) %>
<body>
    <header class="header">
        <h1>Area de creacion y edicion de productos</h1>
    <nav>
        
        <ul>
            <li><a href="/product/add ">Agregar</a></li>
              <li><a href="/product/list">Lista de productos</a></li>
          <li><a href="/users/list">Usuarios</a></li>
    </ul>
</nav>
    <a href="/">
    <i class="fa-solid fa-person-walking-arrow-right"></i>
    </a>
    
</header>
<main>
    <img src="/images/products/deportes-al-aire-libre.jpg" width="100%" alt="">
</main>
    <footer class="footer">
<p>AIRE LIBRE.....Vive tu propia aventura!!!!!</p>
    </footer>
</body>
  

</html>