.footer{

    background:linear-gradient(#A50034,#5dc9b6)  ; 
}
.redes{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.icono{
    margin: 10px;
}

.footer ul li{
    font-size: small;
    padding-top: 10px;
    list-style: none;
}




@media (min-width: 768px){
    ul {
        display: flex;

        list-style: none;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    ul li{
        margin: 10px;
    }

    

}




@media (min-width: 1024px){
    
}