
*{
    padding: 0;
    margin: 0;
    text-align: center;
   
}
.banner img{
    display: none;
}
.oferta{
    padding-top: 20px;
}
.producto{
    margin-left: 5px;
    padding-top: 20px;
    
}
.articulo{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}


.fa-credit-card{
    margin: 20px;
}
.fa-wallet{
    margin: 20px;
}

    

  
@media (min-width:768px){
   
    .banner img{
    display: block;
    width: 100vw;
   }
.producto{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px; 
}

.articulo{
    width: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px; 
   
}
.precio{
    font-weight: bold;
}

.iconos{
    display: flex;
    justify-content: center;
    gap: 10px;

}

}

@media (min-width: 1024px){
    
}