
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Akaya+Kanadaka&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ojuju:wght@200..800&family=Tsukimi+Rounded&display=swap');
@import "./header.css";
@import "./index.css";
@import "./footer.css";
@import "./product.css";
@import "./compra.css";
@import "./register.css";
@import "./login.css";
@import "./admin.css";
@import "./deportes.css";

 
body{
    font-family: "Agdasima", serif;
    font-weight: 400;
    font-style: normal;
}
