
<header>
  <div class="logo">
    <h1>Aire Libre</h1>               
  </div>
  <div class="logo_input">
    <input type="text" ></input>
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>

  <h2 class="leyenda">Vive tu propia Aventura!!!</h2>

  <div class="navegacion">
    <div class="menuNav1">
      <nav class="nav1">
        <ul>
          <li><a href="/"></a>Home</li>
          <li><a href=""></a>Deportes</li>
          <li><a href=""></a>Aire Libre</li>
        </ul>
      </nav>
    </div>

    <div class="menuNav2">
      <nav class="nav2">
        <ul>
          <li><a href="/users/login"></a>Login</li>
          <li><a href="/users/register"></a>Registro</li>
          <li><a href="/compra/compra"></a>Compras</li>
        </ul>
      </nav>
    </div>
</div>
    <div class="burger-menu">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
</header>