<%- include('partials/head') %>
<%- include('partials/header') %>


<main>
<h2>Mis compras</h2>
 
<article>
    <img src="/images/botines-de-futbol-puma-borussia-classic-fg-negro1-640010104657001-1.jpg" alt="">
    <h2>Botines F11 Borussia</h2>
    <p>Los botines de fútbol Borussia, como los botines Puma Borussia FG,
         están diseñados para césped natural y ofrecen tecnología de amortiguación
          en la entresuela, lo que proporciona mayor comodidad</p>
    <p>$150000p</p>
    </article>

    <div class="cantidad">
 <button>Confirmar Compra</button>
 <button>Seguir Comprando</button>
    </div>

</main>

<%- include('partials/footer') %>