<%- include('partials/head') %>

<%- include('partials/header') %>
<main>
<article>
    <img src="/images/botines-de-futbol-puma-borussia-classic-fg-negro1-640010104657001-1.jpg" alt="">
    <h2>Botines F11 Borussia</h2>
    <p>Los botines de fútbol Borussia, como los botines Puma Borussia FG,
         están diseñados para césped natural y ofrecen tecnología de amortiguación
          en la entresuela, lo que proporciona mayor comodidad</p>
    <p>$150000p</p>
</article>
<article>
    <img src="/images/pelotabasquet.jpeg" alt="">
    <h2>Pelota de basquet</h2>
    <p>La pelota de baloncesto Molten, que se utiliza en competiciones oficiales
         como la FIBA y la Liga Nacional de Básquet, tiene un peso de 510 gramos.
          Además cuenta con una estructura de 12 paneles y su circunferencia es de 75 a 78 cm.</p>
    <p>$120000</p>
</article>
<article>
    <img src="/images/mujer-rosa1-9abe260a5c14ccecab16560082133737-480-0.png" alt="">
    <h2>Remera running dama</h2>
    <p>La remera de running para mujer Nike Dri-FIT Miler es una prenda de manga corta
         que te mantiene seca y cómoda durante tu carrera. Su tejido de malla transpirable
          y su tecnología Dri-FIT te ayudan a mantener la frescura y la comodidad.</p>
    <p>$15000</p>
</article>
<article>
    <img src="/images/trekking.jpeg" alt="">
    <h2>Calzado para trekking</h2>
    <p>Las botas de trekking son un calzado de montaña que se caracteriza por su robustez,
         resistencia y durabilidad. Están diseñadas para caminar por terrenos irregulares y
          difíciles, como montañas, bosques, ríos, etc.</p>
    <p>$140000</p>
</article>
<article>
    <img src="/images/casco-bike-con-luz-blanca.jpg" alt="">
    <p>El casco para mountain bike Montagne cuenta con características
         como una luz LED con 4 destellos diferentes, un sistema de 
         ajuste para mayor comodidad y un peso de aproximadamente 230 gramos.
          También tiene 22 ventilaciones para una buena respiración.</p>
          <p>$50000</p>
</article>
<article>
    <img src="/images/kayak.jpg" alt="">
    <h2>Kayak</h2>
    <p>El kayak Rocker modelo One tiene una eslora de 2,90 metros y una manga de 0,69 metros. 
        Viene con un asiento de butaca rígido rebatible y un remo incluido. Además, cuenta 
        con hincapiés regulables en tres posiciones, 10 imbornales autovaciables en el cockpit
         y 2 en la popa, así como 4 manijas rígidas para facilitar su transporte.</p>
    <p>$200000</p>
</article>
<article>
    <img src="/images/guantes-de-escalada-mujer-209x209.jpg" alt="">
    <p>os guantes de escalada y alpinismo para mujer de Orbea están diseñados para
         ofrecer una buena protección y agarre, siendo ideales tanto para escalar 
         como para actividades de rappel. Es importante elegir el tipo de guante adecuado
          según el tipo de escalador que seas, ya que cada uno tiene características específicas
           que se adaptan a diferentes necesidades en la montaña</p>
           <p>$80000</p>
</article>

</main>

<%- include('partials/footer') %>