<%- include('../partials/head',{title:"Sector de compra"}) %>
<%- include('../partials/header') %>


<main>
<h2>Mis compras</h2>
 
<article class="articulo">
    <img src="/images/botines-de-futbol-puma-borussia-classic-fg-negro1-640010104657001-1.jpg" alt="">
    <h2>Botines F11 Borussia</h2>
   
    <p>$150000</p>
    </article>

    <div class="cantidad">
 <button class="confirmar">Confirmar compra</button>
 <button class="confirmar">Seguir comprando</button>
<button class="confirmar" >Eliminar compra</button>    
</div>

</main>

<%- include('../partials/footer') %>