
.articulo img {
    background-color: white;
    width: 40%;
}
.articulo p{
    font-size: 30px;
    
}

.articulo {
    background-color: #f4f4f4;
    
    text-align: center;
    
}

.cantidad{
    width: 100px;
    text-align: center;
    gap: 10px;
    padding-bottom: 10px;
}
.confirmar{

  
    
    background: linear-gradient(#5dc9b6, #A50034);
    padding: 5px;
    border-radius: 4px;
    margin: 10px;
    font-weight: 300;
    font-size: 12px;
    
}





@media (min-width:768px) {


    

    .articulo img {
        width: 20%;
        background-color: white;
    }

    .cantidad{
        display: flex;
        justify-content: space-between;
        width: 100px;
        gap: 10px;
        padding-bottom: 10px;
    }

    .confirmar{
        background: linear-gradient(#5dc9b6, #A50034);
        padding: 5px;
        border-radius: 4px;
        margin: 10px;
        font-weight: 300;
        font-size: 12px;
    }

    .articulo img {
        width: 20%;
        background-color: white;
    }

   

    .cantidad{
        
        width: 100px;
        text-align: center;
        gap: 10px;
        padding-bottom: 10px;
    }
    .confirmar{
        background: linear-gradient(#5dc9b6, #A50034);
        padding: 5px;
        border-radius: 4px;
        margin: 10px;
        font-weight: 300;
        font-size: 12px;
        
    }
    
   
}


@media (min-width:1024px) {
   
}




