main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cantidad{
    display: flex;
    flex-direction: column;
    width: 100px;
    text-align: center;
    gap: 10px;
    padding-bottom: 10px;
}





@media (min-width: 768px){

}


@media (min-width: 1024px){
    
}