    * {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    header {
        padding: 10px;
        background: linear-gradient(#5dc9b6, #A50034);

    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    .logo_input {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        input{
            width: 80%;
            padding: 10px;
            border-radius: 3px;
            border: none;
            margin-left: 30px;
        }
        
    }

    .fa-magnifying-glass {
        color: white;
        font-size: 16px;
        padding: 10px;
        background-color: #5dc9b6;
        border-radius: 3px;
        position: relative;
        left: -35px;
        top: 1px;
    }
li{
    list-style: none;
}

    .menu{
        display: none;
    }
    
    .burger-menu {
        display: flex;
        justify-content: center;
        margin: 20px;
        width: 20px;
        font-size: 30px;
        color: white;
        padding: 10px;
        background-color: #5dc9b6;
        border-radius: 3px;
        position: relative;
         padding: 10px;   
        left: 110px;
    }
    
    .navegacion {
        display: block;
        align-items: center;
        position: relative;
        left: 120px;
        bottom: 10px;
        background-color: #5dc9b57e;
        width: 60px;
    }
    .menuNav1,.menuNav2 li a{
        margin-left: 7px;
    }
    
    .nav1, .nav2 {
        display: none;
    }
    .menu:checked + .burger-menu + .navegacion .nav1,

    .menu:checked + .burger-menu + .navegacion .nav2 {
                                   display: flex;
                        
                                   
    }


    @media (min-width: 768px){
    
        .logo {
            display: flex;
            justify-content: start;
            padding: 0;
            margin-left: 10px;
        }

        .logo input {
            width: 80%;
        }

        .logo_input {
            width: 80%;
            position: relative;
            left: 145px;
            bottom: 50px;
        }

        .fa-magnifying-glass {
            position: relative;
            left: -50px;
            
            font-size: 16px;
            left: -35px;

        }
        .leyenda {
            position: relative;
            bottom: 50px;
        }
       

        .burger-menu {
            display: none;
        }

        .nav1 {
            display: flex;

            a {
                padding: 10px;
                color: white;
                text-decoration: none;

            }
        }

        .nav2 {
            display: flex;

            a {
                padding: 10px;
                color: white;
                text-decoration: none;
            }
        }

        .menuNav1 {
            display: flex;
            justify-content: left;

        }

        .menuNav2 {
            display: flex;
            justify-content: right;

        }

        .navegacion {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background: linear-gradient(#5dc9b6, #A50034);
            border-radius: 5px;
        }
    }




    @media (min-width: 1024px) {
.logo{
    margin-left: 20px;
}
        .logo_input{
    margin-left: 70px;
}


        .fa-magnifying-glass {
            position: relative;
            left: -35px;
            
            font-size: 16px;
    }
}

