
.header p{
    display: none;
   
}
.volver{
    background: linear-gradient(#5dc9b6, #A50034);
    padding: 5px;
    border-radius: 4px;
    margin: 10px;
    font-weight: 300;
    font-size: 12px;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}



.form-group label {
    width: 100px;
    font-weight: bold;
    font-size: 20px;
}
.form-group input {
    
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.registrarse button{
    
    background: linear-gradient(#5dc9b6, #A50034);
    padding: 5px;
    border-radius: 4px;
    margin: 10px;
    font-weight: 300;
    font-size: 12px;
}




@media (min-width: 768px){

    .header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

.boton_create {
    padding: 20px;
    text-align: right;
}
.boton_create button{
    width: 90px;
    padding: 5px;
    font-size: larger;
    border-radius: 5px;
    background: linear-gradient(#5dc9b6, #A50034);
}

.boton_edit {
    padding: 20px;
    text-align: right;
}
.boton_edit button{
    width: 90px;
    padding: 5px;
    font-size: larger;
    border-radius: 5px;
    background: linear-gradient(#5dc9b6, #A50034);
}
.boton_remove {
    padding: 20px;
    text-align: right;
}
.boton_remove button{
    width: 90px;
    padding: 5px;
    font-size: larger;
    border-radius: 5px;
    background:  #A50034;
}


}




@media (min-width: 1024px){
    
}