<footer class="footer">
    
    <div>
      <nav>
        <ul>
          <li> <a href=""></a>Chatea con nosotros</li>
          <li><a href=""></a>Ayuda</li>
          <li> <a href=""></a>Defensa del consumidor</li>
        </ul>
      </nav>
    </div>
    <div class="redes">
      <div class="icono"><i class="fa-brands fa-facebook"></i></div>
      <div class="icono"><i class="fa-brands fa-twitter"></i></div>
      <div class="icono"><i class="fa-brands fa-instagram"></i></div>
      <div class="icono"><i class="fa-brands fa-github"></i></div>
      <div class="icono"><i class="fa-brands fa-linkedin"></i></div>
    </div>
  </footer>
