<header>
  <div class="logo">

    <h1>Aire Libre</h1>
  </div>
  <div class="logo_input">
    <input type="text"></input>
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>

  <h2 class="leyenda">Vive tu propia Aventura!!!</h2>
  
  
  <div class="burger-menu">
    <i class="fa-solid fa fa-bars"></i>
  </div>
  

  <div class="navegacion">
    <div class="menuNav1">
      <nav class="nav1">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/product/category?categoryId=1">Deportes</a></li>
          <li><a href="/product/category?categoryId=2">Aventura</a></li>
          <li><a href="/cart/cart">Compras</a></li>
        </ul>
      </nav>
    </div>

    <div class="menuNav2">
      <nav class="nav2">
        <ul>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/register">Registro</a></li>
          <li><a href="/users/logout">Logout</a></li>
          <li></li><a href="/users/admin">Administrador</a>
        </ul>
      </nav>
    </div>

  </div>

</header>

