<!DOCTYPE html>
<html>

<head>
  <title>Aire Libre</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/e30d44e91a.js" crossorigin="anonymous"></script>
  <scrip src="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap"
    rel="stylesheet">
    </script>
</head>

<body>
 <%- include('partials/header') %>

  <div>
    <div class="banner" id="tablet">
      <img src="/images/Deportes-al-aire-libre-para-mantenerse-en-forma.jpg" alt="">
    </div>
    <main>

<h2>Ofertas</h2>
      
<section class="producto">
        
        <article class="articulo">
          <img src="/images/botines-de-futbol-puma-borussia-classic-fg-negro1-640010104657001-1.jpg" alt="">
          <p>Botines F11 Borussia</p>
          <p class="precio">$150000</p>
        </article>

        <article class="articulo">
          <img src="/images/pelotabasquet.jpeg" alt="">
          <p>Pelota de basquet</p>
          <p class="precio">$120000</p>
        </article>

        <article class="articulo">
          <img src="/images/mujer-rosa1-9abe260a5c14ccecab16560082133737-480-0.png" alt="">
          <p>Remera running dama</p>
          <p class="precio">$15000</p>
        </article>

        <article class="articulo">
          <img src="/images/trekking.jpeg" alt="">
          <p>Calzado para trekking</p>
          <p class="precio">$140000</p>
        </article>
      </section>
      
  <h2>Nuevos Lanzamientos</h2>
      
      <section class="producto">


        <article class="articulo">
          <img src="/images/casco-bike-con-luz-blanca.jpg" alt="">
          <p>Casco para bici</p>
          <p class="precio">$50000</p>
        </article>

        <article class="articulo">
          <img src="/images/kayak.jpg" alt="">
          <p>Kayak</p>
          <p class="precio">$200000</p>
        </article>

        <article class="articulo">
          <img src="/images/pesca.png" alt="">
          <p>Combo caña+reel</p>
          <p class="precio">$110000</p>
        </article>

        <article class="articulo">
          <img src="/images/guantes-de-escalada-mujer-209x209.jpg" alt="">
          <p>Guantes para escalar</p>
          <p class="precio">$80000</p>
        </article>

      </section>


      <p>Paga con tarjeta de debito,credito y con cualquier billetera electrónica</p>

      <div class="iconos">
        <i class="fa-solid fa-credit-card"></i>
        <i class="fa-regular fa-credit-card"></i>
        <i class="fa-solid fa-wallet"></i>
      </div>

    </main>

    <footer class="footer">

      <div>
        <nav>
          <ul>
            <li> <a href=""></a>Chatea con nosotros</li>
            <li><a href=""></a>Ayuda</li>
            <li> <a href=""></a>Defensa del consumidor</li>
          </ul>
        </nav>
      </div>
      <div class="redes">
        <div class="icono"><i class="fa-brands fa-facebook"></i></div>
        <div class="icono"><i class="fa-brands fa-twitter"></i></div>
        <div class="icono"><i class="fa-brands fa-instagram"></i></div>
        <div class="icono"><i class="fa-brands fa-github"></i></div>
        <div class="icono"><i class="fa-brands fa-linkedin"></i></div>
      </div>
    </footer>

</body>

</html>