<%- include ('partials/head') %>
<body>
<header>
<nav>
    <ul>
        <li><a href="">Agregar</a></li>
        <li><a href="">Editar</a></li>
    </ul>
</nav>
</header>
<main>
    <h2>Aerea de creacion y edicion de productos</h2>
</main>
    
</body>
</html>