<%- include('./partials/head') %>
<body>
    <header class="header">
        <h1>Area de creacion y edicion de productos</h1>
    <nav>
        
        <ul>
            <li><a href="products/create">Agregar</a></li>
            <li><a href="products/edit">Editar</a></li>
        
    </nav></ul>
    <a href="/">
    <i class="fa-solid fa-person-walking-arrow-right"></i>
    </a>
    </header>
</header>
<main class="main">
   <div class="lista">
    <h2>Listado de productos</h2>
</div>
    <section class="depoAven">
<h3>Deporte</h3>
    <ol>  
        <li>Zapatillas de running</li>  
        <li>Balón de fútbol</li>  
        <li>Raqueta de tenis</li>  
        <li>Equipamiento de yoga (esteras, bloques)</li>  
        <li>Mancuernas</li>  
        <li>Bicicleta de montaña</li>  
        <li>Pelota de baloncesto</li>  
        <li>Compound bow (arco compuesto)</li>  
        <li>Camisetas deportivas transpirables</li>  
        <li>Shorts de entrenamiento</li>  
        <li>Equipo de natación (gafas, gorros)</li>  
        <li>Cuerda para saltar</li>  
        <li>Esquís</li>  
        <li>Patín en línea</li>  
        <li>Balón de voleibol</li>  
        <li>Mochila de senderismo</li>  
        <li>Cinta de correr</li>  
        <li>Esteras para pilates</li>  
        <li>Botella de agua reutilizable</li>  
        <li>Guantes para ciclismo</li>  
    </ol> 
</section>
    
    <section class="depoAven">
        <h3>Aventura/Aire Libre</h3> 
        <ol>  
            <li>Tienda de campaña</li>  
            <li>Saco de dormir</li>  
            <li>Colchoneta inflable</li>  
            <li>Estufa portátil</li>  
            <li>Utensilios de cocina para camping</li>  
            <li>Botiquín de primeros auxilios</li>  
            <li>Lámpara de camping</li>  
            <li>Frigidero portátil</li>  
            <li>Barbacoa o parrilla de camping</li>  
            <li>Hamaca</li>  
            <li>Cane fishing rod (caña de pescar)</li>  
            <li>Reel (carrete de pesca)</li>  
            <li>Señuelos de pesca</li>  
            <li>Red de pesca</li>  
            <li>Chaqueta impermeable</li>  
            <li>Botella de agua reutilizable</li>  
            <li>Linterna</li>  
            <li>Colección de anzuelos</li>  
            <li>Escapulario o silla de camping</li>  
            <li>Mapa y brújula</li>  
            <li>Red de mosquitos para la tienda</li>  
        </ol>  
</section>
</main>
    <footer class="footer">
<p>AIRE LIBRE.....Vive tu propia aventura!!!!!</p>
    </footer>
</body>
</html>

</main>
    
</body>
</html>