<%- include('../partials/head',{title:"Administrador"}) %>
<body>
    <header class="header">
        <h1>Area de creacion y edicion de productos</h1>
    <nav>
        
        <ul>
            <li><a href="/product/create ">Agregar</a></li>
            <li><a href="/product/edit">Editar</a></li>
        
    </nav></ul>
    <a href="/">
    <i class="fa-solid fa-person-walking-arrow-right"></i>
    </a>
    </header>
</header>
<mai>
    
</main>
    <footer class="footer">
<p>AIRE LIBRE.....Vive tu propia aventura!!!!!</p>
    </footer>
</body>
</html>

</main>
    
</body>
</html>