<%- include('../partials/head',{title:"Login"}) %>

    <body>
        <header class="header">
             <h1>Aire Libre</h1>
            <h2>Login</h2>
            <p>Vive tu propia Aventura!!!</p>
                
                    <a href="/product/admin"><i class="fa-solid fa-gear"></a></i>
        </header>

        <body>
            <main>

                <a href="/">
                    <button class="volver">Volver</button>
                    </a>
                <form class="form" action="../users/login" method="post">
                    <div class="form-login">
                        <label for="Nombre">Nombre de usuario</label>
                        <input type="text" name="Nombre">
                    </div>
                    <div class="form-login">
                        <label for="email">Correo electronico</label>
                        <input type="text">
                    </div> 
                         </form>

                         <div>
                        <button  class="ingresar" type="submit">Ingresar</button>
                        </div>
                        <div class="olvidaste">
                            <p>¿Olvidaste tu contraseña?</p>
                            <button class="ingresar" type="submit">Recuperar contraseña</button>
                        </div>
              
            </main>
            <%- include('../partials/footer') %>
        </body>

        </html>