<%- include('../partials/head',{title:"Login"}) %>

    <body>
        <header class="header">
             <h1>Aire Libre</h1>
            <h2>Login</h2>
            <p>Vive tu propia Aventura!!!</p>
                
                   
        </header>

        <body>
            <main>

                <a href="/">
                    <button class="volver">Volver</button>
                    </a>
                <form class="form" action="../users/identity" method="post">
                   
                    <div class="form-login">
                        <label for="correo">Correo electronico</label>
                        <input type="text" name="correo">
                        
                    </div> 
                     <div class="form-login">
                        <label for="contrasena">Contrase単a</label>
                        <input type="password" name="contrasena">
                       
                    </div>
                         <div>
                        <button  class="ingresar" type="submit">Ingresar</button>
                        </div>

                         <div class="session">
                            <input type="checkbox" name="recordar">
                            <label for="recordar" name="recordar" >Desea recordar su session?</label>
                         </div>
                      



                        <div class="olvidaste">
                            <p>多Olvidaste tu contrase単a?</p>
                            <button class="ingresar" type="submit">Recuperar contrase単a</button>
                        </div>
              </form>
            </main>
            <%- include('../partials/footer') %>
        </body>

        </html>